
/*.content-area {
    float: left;
    width: 100% !important;
    overflow: auto;
}*/
#event-page-content{
  margin-top:25px;
}

.ll-event-box {
  width: 96%;
  margin-top: 10px;
  margin-left: -4.2%;
  background-color: #ffffff;
  margin: 10px;
  padding: 10px;
  float: left;
  border-radius: 20px;
  border-style: solid;
  border-color: #800000;
  border-width: 1px;
  box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -webkit-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -moz-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -o-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
}

.ll-event-title {
  font-weight: 700;
  color: #800000;
  font-size: 18px;
  padding: 3px;
  margin: 3px;
}

.ll-event-speaker-photo-div { /*Speaker Photo*/
    padding: 10px;
  	margin: 10px;
  	width: 15%;
  	float:left;
  }

.ll-event-speaker-name-div {
    padding: 3px;
  	margin: 15px 3px;
    line-height: 1.16;
  	width: 1%;
  	float: left;
  	color: #800000;
    font-weight: 700;
    text-transform: uppercase;
  }

.ll-event-quote-div {
  padding: 10px;
  margin: 10px;
  width: 13%;
  float: left;
  font-size: 14px;
  color: #800000;
}

.ll-event-post-clip-thumbnail {
    padding: 10px;
  	margin: 10px;
 		width: 30%; 
  	float: left;
  }

.event-social-share-icons {
    padding: 5px;
  	margin: 5px;
    float: left;
    text-align: center;
  }

.ll-event-buttons-div {
  padding: 10px;
  margin: -2% 10px;
  width:17%;
  float: left; 
}

.ll-event-button {
  margin: 0 0px 5px -5%;
  padding: 3px;
  float: left;
  width: 105%;
  color: white !important;
  text-decoration: none !important;
  text-align: center;
  background-color: #800000 !important;
  border-radius: 5px;
  
  }

.ll-button-1-label {
  font-weight: 700;
  font-size: 18px;
}

@media only screen and (min-device-width : 1025px) {
  .ll-event-box {height: 230px;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .ll-event-buttons-div {
    margin: 0 8%;
    width: 85%;
}
  .ll-event-post-clip-thumbnail {
    width: 45%;
  }    
  .event-social-share-icons {
  	float:none;
  }
/* Styles */
}

/* moblie phones ----------- */
@media only screen and  (max-device-width : 767px) {
/* Styles */
 .ll-event-speaker-name-div
   {
    width: 100% !important;
    float: none;
    text-align: center;
  }
  
   .ll-event-quote-div, .ll-event-post-clip-thumbnail
    {
    	margin: 0 auto;
  	 width: 95%; 
  }
  
  .ll-event-box {
    width: 92%;
    margin-left: 2%
  }   
  
  .ll-event-buttons-div {
    width: 90%;
    margin: 0 3.5%;
  }
  
  .ll-event-button {
    padding: 6px;
    font-size: 25px;
    margin-bottom: 5px;
  }


.ll-event-speaker-name-div {font-size: 25px;}
.ll-event-quote-div {font-size: 20px;}

.ll-event-title {
    font-size: 25px;
    text-align: center;
}

.ll-event-speaker-photo-div {
    width: 95%;
  	margin: 0 auto;
    text-align: center;
  }
.ll-event-post-clip-thumbnail-title {
  margin-top: -30px !important;
  }
  
.ll-event-post-clip-thumbnail > h4 {
  font-size: 25px !important;
}
}

/*********************************************End @media max 640px*/

/*Mobile (medium to small)*/

@media screen and (max-width: 900px) {
  div#ll-context-text {
    margin-top: 50px;
  }
}

/*End Mobile (medium to small)*/

/*Event page CSS*/

.event-featured-box {
  height: 400px !important;
  padding: 15px !important;
}

.event-headline-box {
  height: 50px !important;
}

.entry-meta,
.entry-header-meta {
  display: none;
}

#event-review-form .widget-title {
  margin-top: 0;
  margin-bottom: -45px;
  text-align: center;
}

.event-notice-divider {
  border-top: 2px;
  border-color: #800000;
  border-style: solid;
}

.event-speaker-img {
  border-radius: 20px;
  border-style: solid;
  border-color: #800000;
  border-width: 2px;
  width: 90%;
}


/*Migrates*/
.speaker-photo-loop {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.speaker-quote-event-page-div {
padding: 10px;
margin: 10px;
}  

/* Single Events Page Css*/
#single-event-page-contant{
  margin-top: 25px;
}
.single-event-page-title{
  color: #800000;
  text-align: center;
  margin: 10px;
}


.event-video-title {
  color: #800000;
  text-align: left;
}

.event-excerpt{
  margin: 15px auto;
  color: #800000;
  text-align: justify; 
  text-align-last: center;
  max-width: 600px;
}

.single-event-speaker, .ll-event-location {
  margin: 15px auto;
  padding:15px;
 
}
#single-event-page-columns {
  overflow: auto;
}
.event-page-columns-title{
  color: #800000;
  margin: 0 0 10px 0 !important;
  text-align: center;
}
.single-event-col1{
  background-color: #d8d8d8 !important;
  margin: 10px auto;
  max-height: 425px;
  max-width: 250px;
  overflow: auto;

}
.single-event-col2{
  background-color: #d8d8d8 !important;
  margin: 10px auto;
  max-height: 425px;
  max-width: 250px;
  overflow: auto;
}

.single-event-page-review{
  border-style: solid;
  border-width: 2px;
  border-color: #800000;
  text-align: left;
  padding: 25px;
  margin-top: 25px;
}

.single-reviews-title{
  text-align: center;
  color: #800000;
  height: 50px;
  background-color:#d8d8d8;
  padding: 15px; 
}

.single-event-review-display{
  margin-top: 25px;
}
.event-video-presentation {
  text-align: center;
  max-width: 100% !important;
  }
.event-video-title-soon{
  color: #800000;
  text-align: center;
}
.ll-event-interview-divider{
  margin: 35px auto !important;
}

/* Larger than desktop */
@media (min-width: 1000px) {

  .single-event-col1 {
    max-width: 100%;
    min-height: 420px;
    width: 48%;
    float: left;
}
.single-event-col2 {
  max-width: 100%;
  min-height: 420px;
  width: 48%;
  float: right;
}
.event-video-presentation {
  margin: 0 auto;
  max-width: 95% !important;
  }

  .event-speaker-img {
    width:100%;
  }

}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}