/*Divider CSS*/
hr {
  background-color: #800000 !important;
  margin: 15px auto !important;
  height: 3px !important;
}
@media screen and (min-width: 900px){
.boxed .site {
    max-width: 960px !important;
}
}
.site-content, .footer-widget {
  max-width: 900px !important;
  padding: 0 45px !important;
}
.site-content {
  margin-top: -65px !important;
}

.home-page-title, .hot-line-title  {
  text-align: center;
  margin: 0 20px 10px 0;
  color: #800000;
  font-size: 45px;
}

.hot-line-title {
 margin-top: -30px;
}
.homepage-slogan {
font-size: 23px;
}
.hot-line-numbers {
font-size: 23px;
}

.mission-statement-box, .hot-line-box {
padding: 35px 20px 10px 20px;
margin: 10px;
border-radius: 5px;
border-style: solid;
border-color: #800000;
border-width: 1px;
box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
  -webkit-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
  -moz-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
  -o-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
}
.hot-line-box {
  line-height: 14px;
}

.about-us-action-button {
margin: 0 auto;
padding:10px;
width: 93%;
color: white !important;
text-decoration: none !important;
text-align: center;
background-color: #800000 !important;
border-radius: 5px;
}

.page-id-897 #content{margin-top: -35px}
#AddToAnyFollowWidget > h3{
margin-bottom: 15px !important;}


.site-logo {
width: 110% !important;
max-width: 150% !important;
margin-left: -5%;
margin-top: -20px;
margin-bottom: -41px;
}


.widget-title {
margin-bottom: -15px;
}

#panel-826-5-0-0 > h3 {
margin-bottom: 10px !important;
} /*Any to follow title*/ 


#home-page-header-img {
max-width: 110% !important;
margin-left: -5%;
}

.home-page-nav-bar {
width: 110% !important;
background-color: #800000;
margin-left: -5%;
/*margin-left: -45px;
  padding-right: 45px;
  padding-left: 45px;*/
}

/* Entire Site CSS */

.entry-title {
display: none;
}

.site-content {
margin-top: -65px;
}

h3 {
color: #800000 !important;
}

/*Change title color to red (#800000)*/

.site-copyright,
.site-credit {
/*display: none !important;*/
}

/*Hide credits for now until a process for credit is developed*/

.homepage-email {
margin-top: -50px !important;
}

@media screen and (max-width: 460px) {
.homepage-email {
  font-size: 25px !important;
}
}

/*Widget: Headline - remove divider*/

.decoration {
display: none !important;
}

/*Destop CSS*********@media*/

@media screen and (min-width: 900px) {
.site-content,
.footer-widget {
  max-width: 900px;
  padding: 0 45px;
}

.boxed .site {
  max-width: 960px;
}

body {
  background-color: Grey !important;
}

/*Dark grey backgound on destops, show on side of content*/
}

/*End @media min 900px*/

.homepage-phone {
font-size: 40px;
font-weight: 700;
color: #800000;
}

/*Mobile (Small 640px or smaller)*/

@media screen and (max-width: 640px) {
.wp-caption {
  float: none;
}

/*Center the img caption for mobile devices*/

.hp-speaker-img {
  width: 250px;
  max-width: 250px;
  margin-left: -16px;
}
}

/*********************************************End @media max 640px*/

/*Mobile (medium to small)*/

@media screen and (max-width: 900px) {
div#ll-context-text {
  margin-top: 50px;
}
}

/*End Mobile (medium to small)*/


#submitReview {
background-color: #800000;
}

.stars {
font-size: 44px;
color: #800000 !important;
}

.rr_star {
font-size: 35px;
color: #800000 !important;
padding-right: 15px;
}

.rr_review_text {
color: #800000;
font-size: 95%;
margin-left: 5px !important;
}

.drop_cap {
margin-left: -15px !important;
}

.rr_review_name {
color: #800000;
font-weight: 700;
}

.rr_date {
display: none;
}

.nav-previous {
display: none;
}

.rr_stars_container {
display: inline-flex;
}

.rr_small_input {
width: 100% !important;
}

.rr_large_input {
width: 100% !important;
}

.rr_review_form {
text-align: left !important;
}

.rr_successful {
line-height: 1em;
}

.big_star {
display: none !important;
}

.speaker-note {
color: #800000;
}

.event-notice-divider {
border-top: 2px;
border-color: #800000;
border-style: solid;
}



/*Reduce the width of the input boxees on the review form, they are otherwise outside the border*/

@media screen and (max-width: 640px) {
.rr_small_input {
  width: 90% !important;
}

.rr_large_input {
  width: 90% !important;
}
}

/*Post-222: change the width of post id 222 image to the full width of the body*/

/* The CSS below will be changed later and added above, will write CSS that applies to all posts*/

/*---------------------------------------------
@media screen and (min-width: 900px) {
div.post-thumbnail > img {
  max-width: 960px !important; 
  width: 960px !important;
  margin-left: -158px!important;
}
}

@media screen and (max-width: 640px) {
div.post-thumbnail > img {
   max-width: 109%;
  width: 109%;
  margin-left: -16px;
}
}
------------------------------------------------*/

div.post-thumbnail > img {
display: none !important;
}

/*Plugin CSS*/

.wpcf7-submit {
background-color: #800000 !important;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}