.speaker-page-content {
    margin-top: 25px;
}
.ll-speaker-box {
    float: left;
    width: 44%;
    max-height: 200px;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #800000;
    border-radius: 5px;
   /* -moz-box-shadow: 10px 10px 5px #3b393b;
    -webkit-box-shadow: 10px 10px 5px #3b393b;
    box-shadow: 10px 10px 5px #3b393b;*/

    box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -webkit-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -moz-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -o-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    
        
}

.ll-speaker-photo-div {
    float: left;
    max-width: 30%;
    margin: 5px;
    padding: 5px;
}

.ll-speaker-name-div {
    color: #800000;
    font-weight: 700;
}
.mic-micro-icon {
    width: 50px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.ll-speaker-quote-div {
    float: left;
    width: 54%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: #800000;
}

/* Medium devices (landscape tablets, 768px and smaller) */
@media only screen and (max-width: 768px) {
    .ll-speaker-box { 
        width: 95% !important;
        min-height: 0px !important;
        margin: 0 auto 20px !important;
    }
    .ll-speaker-quote-div {
        float: none;
        width: 100%;
        margin: 10px;
        padding: 10px;
        text-align: center;
        color: #800000;
    }
    .ll-speaker-quote-div {
        width: 95%;
        margin: 10px;
        padding: 10px;
        text-align: center;
        color: #800000;
    }
    .ll-speaker-photo-div {
        float: left;
        max-width: 25%;
        margin: 5px;
        padding: 5px;
    }
    } 