.ll-story-div {
    width: 92%;

    margin: 25px 10px 10px 25px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #800000;
    border-radius: 5px;
   /* -moz-box-shadow: 10px 10px 5px #3b393b;
    -webkit-box-shadow: 10px 10px 5px #3b393b;
    box-shadow: 10px 10px 5px #3b393b;*/

    box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -webkit-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -moz-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -o-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
}

.mic-micro-icon {
    width: 100px;
    margin: 0 auto 10px;
    display: block;
    text-align: center;
}

.story-text {
    margin: -5px 10px 10px 10px;
    padding: 0px 10px 10px 10px;
    font-size: 20px;
}

.story-nav {
    color:#800000 !important;
    font-weight: 700;
    margin-bottom:15px;
}
.story-nav-left{
    display: inline;
    float: left;
    margin-left: 1.5em;
}
.story-nav-right{
    display: inline;
    float: right;
    margin-left: 1.5em;
}

#story-buttons {
overflow: auto !important; 
height:auto;
width: 92%;
padding: 10px;
margin: 25px 10px 10px 25px;
}

.story-share-btn {
    float: left;
    background-color: #800000;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 40%;
}
.story-become-speaker-btn {
    float: right;
    background-color: #800000;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 40%;
}
.story-share-btn:hover{color:white;}
.story-become-speaker-btn:hover{ color:white;}

.story-divider {
    width: 103% !important;
}
.story-divider.bottom {
   margin-bottom: 20px;
}
.story-speakers-title {
    color: #800000;
    text-align: center;
    margin: 5px;
    padding: 0px;
    font-size: 200%;
    font-weight: 600;
}

.ll-speaker-box {
    float: left;
    width: 25%;
}

.ll-speaker-photo-div {
    width: 125px;
    margin: 5px;
    padding: 5px;
}

.ll-speaker-name-div {
    color: #800000;
    font-weight: 700;
}

/* Medium devices (landscape tablets, 768px and smaller) */
@media only screen and (max-width: 768px) {
    .ll-story-div { 
        width: 95% !important;
        min-height: 0px !important;
        margin: 35px auto 20px !important;
    }

    #story-buttons {
        overflow: auto !important; 
        height:auto;
        width: 99%;
        margin: 15px auto;
        
        }
        
        .story-share-btn {
            float: none;
            width: 95%;
            text-align: center;
            display: block;
            margin: 10px 0;
        }
        .story-become-speaker-btn {
            float: none;
            width: 95%;
            text-align: center;
            display: block;
            margin: 10px 0;
        }
        .ll-speaker-photo-div {
            width: 96%;
        }
        .ll-speaker-box, .event-speaker-img {
            float: none;
            width: 100%;
            text-align: center;
            display: block;
        }
        
        .ll-speaker-name-div {
            font-size: 35px;
        }

        .story-nav-right, .story-nav-left {
            display: block;
            float: none;
            text-align: center;
            padding: 15px;
            font-size: 115%;
            margin: 0 auto;
        } 
    } 