.story-page-content {
    margin-top: 25px;
}

#toggle-format-btn, #cat-selected-btn {
     color: white !important;
    background-color: #800000;
    border-radius: 5px;
    padding: 10px;
    margin-left: 25px;
}
.catergory-filter-title {
    color: #800000;
}

#cat-selected-btn {
    margin-left: 3px;
}

.storyboard-divider{
    border-style: solid;
    border-width: 1px;
    border-color: #800000;
    border-radius: 5px;
   /* -moz-box-shadow: 10px 10px 5px #3b393b;
    -webkit-box-shadow: 10px 10px 5px #3b393b;
    box-shadow: 10px 10px 5px #3b393b;*/

    box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -webkit-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -moz-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -o-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;

}

.storyboard-options-divider {
    margin: 5px 0 10px 0;
    padding: 10px;
    border-bottom: solid;
    border-color: #800000;
    border-width: 2px;
}
.story-hanger-mic-img {
    margin: 0 10px -60px;
}
.story-hanger-mic-r-img{
    display: none;
}

.ll-story-content-title {
    text-align: center;
    color: #800000 !important;
    font-weight: 700;
    font-size: 30px;
    margin: 35px 0 15px 55px;
}

.ll-story-excerpt-title {
    text-align: center;
    color: #800000 !important;
    font-weight: 700;
    font-size: 30px;
    margin: 0 auto;
}


.ll-story-content-text {
    padding:10px;
    margin: 10px 20px 20px 20px;
}

.ll-story-content {
    padding: 10px;
    margin: 10px;
}



#story-excerpt-loop {
    overflow: auto;
    height: auto;
    margin: 10px;
    padding-bottom: 150px;

}

.storyboard-title {
    text-align: center;
    color: #800000;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.storyboard-title>h1 {
    font-size:200% !important;
}
.ll-story-box, .ll-excerpt-story-box-div { /*remove .ll-story-box in production*/
    float: left;
    width: 44%;
    max-height: 400px;
    max-height: 435px;
    margin: 10px;
    padding: 10px;      
}


.ll-story-excerpt-div, .ll-story-content{
    border-style: solid;
    border-width: 1px;
    border-color: #800000;
    border-radius: 5px;
    min-height: 375px;
   /* -moz-box-shadow: 10px 10px 5px #3b393b;
    -webkit-box-shadow: 10px 10px 5px #3b393b;
    box-shadow: 10px 10px 5px #3b393b;*/

    box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -webkit-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -moz-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -o-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
}

.ll-full-content-div {
    padding: 10px;
    margin: 10px;
}

.ll-story-excerpt {
    margin: 45px 10px 10px 10px;
    padding: 10px 10px 10px 30px;
}

.story-excerpt-link {
    color:blue;
    font-size: 25px;
    font-weight: 700;
}
.story-hanger-img {
    margin-bottom: -45px;
    margin-left: 35px;
}

.story-hanger-2-img {
    margin: 0 0 -41px 45px;
    width: 75%;
}



.mic-micro-icon {
    width: 75px;
    margin: 0 auto 10px;
    display: block;
    text-align: center;
}



#story-pagination {
    margin-top: -50px;
    color: #800000;
    font-size: 25px;
}


.page-numbers.current {
    color: white !important;
    background-color: #800000;
    padding: 5px 10px 5px 10px;
}

.page-numbers {
    color:#800000 !important;
    border-style: solid;
    border-width: 1px;
    border-color: #800000;
    padding: 5px 10px 5px 10px;
}

.addtoany_content_bottom {display:none !important;}

/* Medium devices (landscape tablets, 768px and smaller) */
@media only screen and (max-width: 768px) {
    .ll-story-box, .ll-excerpt-story-box-div {  /*remove .ll-story-box in production*/
        width: 95% !important;
        min-height: 0px !important;
        margin: 0 !important;
    }
    .ll-story-content-text {
        padding: 0px;
        margin: 0;
    }
    #story-pagination {
        margin-top: -65px;
        text-align: center;
    }

    .story-hanger-img {
       /*  margin-bottom: -45px;
        margin-left: 0;*/
        display: none;
    }

    .story-hanger-2-img {
       /* margin: 0 0 -32px 40px;*/
       display: none;
    }

    .story-hanger-mic-img {
       display: none;
    }
    .story-hanger-mic-r-img {
	display: none;
        /*display: block;
        width: 75%;
        margin: 0 0 -42px 28px;*/
    }

   .ll-full-content-div {
    width: 95%;
    margin: -5px 5px 0 0;
   }

   .ll-story-content-title {
        margin: 35px auto;
   }

   .ll-story-content {
    padding: 10px;
    margin: 10px;
    width: 89%;
   }
   .ll-story-content-text {padding: 10px;}

   #toggle-format-btn {
   width: 100%;
   margin: 15px auto;
   padding: 20px;
}

}



