.testimonial-divs-blocks {
    overflow: auto !important; 
    height:auto;}
#testimonial-divs-block-1 {margin-top: 15px; 
    overflow: hidden;}
#testimonial-divs-block-2 {margin-top:0; 
    overflow: hidden; }
#testimonial-divs-block-3 {margin-top:0;
    overflow: hidden; }
.full-testimonial {margin-top: -15px !important;}
.stars {margin-bottom: 10px;}
.testimonial-div-class {
    border-color: #800000;
    border-style: solid;
    border-width: 1px;
	border-radius: 5px !important;
    float: left;
    width: 270px;
    height: 300px;
    padding: 5px;
    margin: 5px;
		
	box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -webkit-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -moz-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
    -o-box-shadow: inset -7px -10px 84px -13px #800000,11px 10px 5px 1px #8A8A8A;
}
/* Medium devices (landscape tablets, 768px and smaller) */
@media only screen and (max-width: 768px) {
.testimonial-div-class { 
    width: 100% !important;
    height: auto !important;
    min-height: 0px !important;
    margin: 0 auto !important;
}
} 

#tml-div1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 135%;
    width: 30%;
    height: auto;
    /*min-height: 381px;*/
	min-height: 509px;
}
#tml-div2 { 
    font-family: fantasy;   
    width: 64.94%;
    height: auto;
}
#tml-div3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*width:64.94%;
    height: auto;*/
    width: 36%;
    min-height: 305px;
	height: auto;
}

#tml-div4 {
    width: 26.4%;
    min-height: 305px;
	height: auto;
}
#tml-div5 {
    display: none;
    /*width: 65%;
    height: 200px*/
}
#tml-div6 {
    display: none;
    /*width: 29.94%;
    height: 200px;*/
}
#tml-div7 {
    display: none;
    /*width: 47.1%;
    height: 305px;*/
}
#tml-div8 {
    display: none;
    /*width: 47.1%;
    height: 305px;*/
}
div.full-testimonial {
    margin-top: -95px;
  }